@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
  .box-shadow{
    box-shadow: 0 0 50px #0ef;
  }
  .animate_color{
    animation:  animate 1s linear infinite;
}
  @keyframes animate{
    100%{
      filter:hue-rotate(360deg);
    }
  } 
  .dark-mode {
    background-color: black;
    color: white;
  }

  .wave{
   animation: waves .5s linear infinite ;
  }

  @keyframes waves {
    0%{
      height: 10px;
    }
    50%{
      height: 15px;
    }
    100%{
      height: 10px;
    }
  }
  

  #progress{
    -webkit-appearance : none;
    /* width: 900px; */
    height:6px;
    background: blue ;
    border-radius: 4px ;
    cursor: pointer;
    margin-top: 40px;
}

#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 30px ;
    height:30px;
    background: blue ;
    border-radius: 50% ;
   border:8px solid #fff;
   box-shadow: 0 5px 5px rgba(255,26,26,0.22);
}


}

.card2{
    @apply relative min-w-[90px] sm:min-w-[150px] hover:min-w-[190px] h-40 sm:hover:min-w-[270px] sm:h-48 rounded-md mr-2 bg-black overflow-hidden ease-linear duration-200
}

.card1{
    @apply relative w-[100%] h-8 sm:h-12 flex items-center mb-1 pt-1 pb-1 bg-[rgba(255,255,255,0.1)] z-[-1] backdrop-blur-sm rounded-md hidden
}
